# for loop

In [4]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(0,11):
    print("IPCS")

IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS

In [7]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### printing number  from 50 to 5

In [9]:
for i in range(50,5,-5):
    print(i)

50
45
40
35
30
25
20
15
10

### 1.sum of numbers.

In [10]:
total=0
n=int(input("enter the number:"))
for i in range(1,n+1):
    total+=i
print("sum is",total)

enter the number:5
sum is 15

### 2.Factoroal

In [1]:
result=1
n=int(input("enter a number:"))
for i in range(1,n*1):

SyntaxError: incomplete input (2742622545.py, line 4)